<nav class="sidebar">
    <ul>
      
      <li><a routerLink="/register-faculty">Register a Faculty</a></li>
      <li><a routerLink="/lesson">Lesson</a></li>
      <li><a routerLink="/academic-calendar">Academic Calendar</a></li>
      <li><a routerLink="/course">Course</a></li>
      <li><a routerLink="/profile">Profile</a></li>
      <li><a routerLink="/Department">Department</a></li>
      <li><a routerLink="/Holiday">Holiday List</a></li>
      <li><a routerLink="/weekday">WEEKLY TIME TABBLE </a></li>
      <li class="logout-item"><a routerLink="/login">Log Out</a></li>
    </ul>
  </nav>
  