<!-- your-component.component.html -->
<div class="container-my-5" style="padding-top: 0%; padding-right: 3%; padding-left: 3%; ">
  <!-- Navbar -->
  <nav  class="navbar navbar-expand-lg  navbar-dark bg-dark" >
    <a class="navbar-brand" routerLink="/course"  style="padding-left: 1%;">Course Management</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/createcourse">Create Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin-dashboard">Dash-Board</a>
        </li>
      </ul>
    </div>
  </nav>


    <!-- Create Course Form -->
<div id="createCourse">
  <h2>Create New Course</h2>
  <form  (ngSubmit)="createCourse()">
    <div class="form-group">
      <label for="courseCode">Course Code</label>
      <input type="text" id="courseCode"  class="form-control"  [(ngModel)]="courseReq.courseCode" name="courseCode" />
     
    </div>
    <div class="form-group">
      <label for="courseName">Course Name</label>
      <input type="text" id="courseName"  class="form-control"  [(ngModel)]="courseReq.courseName" name="courseName" />
      
    </div>
    <div class="form-group">
      <label for="weeklyLectures">Weekly Lectures</label>
      <input type="number" id="weeklyLectures"  class="form-control"  [(ngModel)]="courseReq.weeklyLectures" name="weeklyLectures" />
     
    </div>
    <div class="form-group">
      <label for="weeklyTheory">Weekly Theory</label>
      <input type="number" id="weeklyTheory" class="form-control"  [(ngModel)]="courseReq.weeklyTheory" name="weeklyTheory"/>
      
    </div>
    <div class="form-group">
      <label for="weeklyPracticals">Weekly Practicals</label>
      <input type="number" id="weeklyPracticals"  class="form-control" [(ngModel)]="courseReq.weeklyPracticals" name="weeklyPracticals" />
      
    </div>
    <div class="form-group">
      <label for="createdBy">Created By</label>
      <select type="text" id="createdBy" class="form-control" [(ngModel)]="courseReq.createdBy" name="createdBy">
        <option value="11E674F1-E66D-4564-BF68-E30B27614946" >Admin</option>
      </select>      
    </div>
    <div class="form-group">
      <label for="isActive">Is Active</label>
      <input type="checkbox" id="isActive" class="form-check-input"  [(ngModel)]="courseReq.isActive" name="isActive" />
    </div>
    <button type="submit" class="btn btn-primary">Create Course</button>
  </form>
</div>
</div>
