<div class="container">
  <app-sidebar-component></app-sidebar-component>
  <div class="content">
    <p>TODAY: {{ selected | date: 'fullDate' }}</p> <!-- Display selected date -->
    <!-- Content of Basic Dashboard -->
     
    <h1>Welcome to admin Dashboard</h1>
    
    <!-- Calendar component -->

    <br><br>
    <b><h1  style="text-align:start;">Calender </h1></b>
     <div class="calender" >
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar [(selected)]="selected"></mat-calendar>
    </mat-card>
    <br>
    <p>Selected Date: {{ selected | date: 'fullDate' }}</p> <!-- Display selected date -->
  </div>
  </div>

</div>
