/* Content Area */
.content {
  margin-left: 100px; /* Match the width of the sidebar */
  padding: 20px;
  padding-right: 50px;
  background-color: #ffffff; /* Keep it clean with a white background */
  min-height: 100vh;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for a modern look */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box; /* Ensure padding is included in the width calculation */
}

/* Dashboard Heading */
.content h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #34495e;
  margin-bottom: 20px;
}

/* Additional content styling can go here */
.demo-inline-calendar-card {
  width: 300px;
  align-self: auto;
}

.calender{
  padding-left: 0px;
  padding-top: 50px;
}
