/* .container {
    display: flex;
  }
  
  .content {
    margin-left: 200px; /* Adjust to match sidebar width
    padding: 20px;
  } */

  /* Styling for container */
  .container {
    display: flex;
  }
  
  /* Styling for content */
  .content {
    margin-left: 200px; /* Adjust to match sidebar width */
    padding: 20px;
    transition: margin-left 0.3s ease; /* Smooth transition for margin-left */
  }
  
  .sidebar:hover + .content {
    margin-left: 220px; /* Shift content when sidebar expands */
  }

 
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
  